<% form_with model:@ship do |form| %>
  <div class="field">
    <p>艦名</p>
  </div>
  <div class="field">
    <p>所属</p>
  </div>
  <div class="field">
    <p>レアリティ</p>
  </div>
  <div class="field">
    <p>艦種</p>
  </div>
  <div class="field">
    <p>ポジション</p>
  </div>
  <div class="field">
    <p>キャラ詳細</p>
  </div>
  <div class="submit_field">
    <%= form.submit submit_name %>
  </div>
<% end %>