<h1></h1>
<div>
  <p></p>
  <div>
    <ul>
      <li>
        <strong>アイテム名</strong>
        <p><%= @item.name %></p>
      </li>
      <li>
        <strong>アイテム説明</strong>
        <p><%= @item.explanation %></p>
      </li>
    </ul>
  </div>
</div>
