// Place all the styles related to the ships controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}

.shipListArea {
  width: 1000px;
  margin: 0 auto;
}

.ship-title {
  font-size: 30px;
  line-height: 1.35;
  margin-bottom: 20px;
}

.ship-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ship-item {
  display: inline-block;
  width: 230px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0;
}

.normal {
  border-radius: 10px;
  border: 1px solid dimgray;
  background-color: #e8e8e8;
}

.rare {
  border-radius: 10px;
  border: 1px solid deepskyblue;
  background-color: #aae4ff;
}

.super_rare {
  border-radius: 10px;
  border: 1px solid rebeccapurple;
  background-color: #dab1f9;
}

.double_super_rare {
  border-radius: 10px;
  border: 1px solid gold;
  background-color: #faf2bc;
}

.field {
  margin-bottom: 5px;
}
